*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backframe{
    width: 100%;
    height: 937px;
    background-image: url("backGround1.jpg");
    background-size: cover;
}

.layer1{
    width: 100%;
    height: 937px;
    background-color: #0007;
    padding: 10vh 0;
}

.loginPart{
    width: 30%;
    height: 750px;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.596);
    border-radius: 60px 0 60px 0;
    color: rgb(0, 0, 0);
    box-shadow: 15px 15px 15px black;
    transition: transform .4s;
}

.loginPart:hover{
    transform: scale(1.1);
}

.loginPart2{
    width: 80%;
    height: 300px;
    padding-top: 20px;
}

.login{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
}

table{
    width: 100%;
    height: 350px;
    text-align: center;
}

.col1{
    width: 30%;
    height: 30px;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}

.col2{
    width: 10%;
    height: 30px;
}

.col3{
    width: 60%;
    height: 30px;
}

.row3{
    height: 30px;
}

th{
    padding-top: 20px;
}

input{
    width: 100%;
    height: 35px;
    border-radius: 15px 0 15px 0;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.836);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 5px black;
}

img{
    width: 350px;
}

.loginBtn{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background: #837d7dc9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: 0;
}

.loginBtn:hover{
    border: 1px solid white;
}

.resetBtn{
    width: 130px;
    height: 30px;
    border-radius: 10px;
    background: #837d7dc9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: 0;
}

.resetBtn:hover{
    border: 1px solid white;
}

.register{
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
}

.registerLink{
    text-decoration: none;
}

.registerLink:hover{
    color: rgb(107, 107, 252);
    text-decoration: underline;
}